.alert {
    width: 80%;
    position: fixed;
    left: 50%;
    transform: translateX(-50%);
    top: -100px;
}



@keyframes Alert-in{
    from{
        top: -100px;
    }
    to{
        top: 5px;
    }
}

@keyframes Alert-out{
    from{
        top: 5px;
    }
    to{
        top: -100px;
    }
}


.AlertIn{
    animation-name: Alert-in;
    animation-duration: .5s;
    animation-fill-mode: forwards;
}

.AlertOut{
    animation-name: Alert-out;
    animation-duration: .5s;
    animation-fill-mode: forwards;
}